<!DOCTYPE html>
<html>
    <head>
        <title>Simpleblog</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js' %>
        <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js' %>
    </head>

    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                    <strong>Album</strong>
                </a>
                <%= link_to "Home", home_path, { :class=>"text-white" } %>
                <%= link_to "About", about_path, { :class=>"text-white" } %>
                <%= link_to "New Post", new_post_path, { :class=>"text-white" } %>
            </div>
        </div>
    </header>


    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
